@page "/details-info"
@using eBook.Pages.Shared.Widgets

<!--begin::Content container-->
<div id="kt_app_content_container" class="app-container container-xxl">
    <!--begin::Row-->
    <div class="row g-5 g-xl-10 mb-5 mb-xl-10">
        <!--begin::Col-->
        <!--begin::Engage widget 6-->
        <div class="card flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-end h-xl-100" style="background-color:royalblue;background-image:url('_content/eBook.Pages/assets/media/book/2.png')">
            <!--begin::Body-->
            <div class="card-body d-flex justify-content-between flex-column ps-xl-18">
                <!--begin::Heading-->
                <div class="mb-20 pt-xl-13">
                    <!--begin::Title-->
                    <h3 class="fw-bold text-white fs-4x mb-5 ms-n1">Utah Case</h3>
                    <!--end::Title-->
                    <!--begin::Description-->
                    <span class="fw-bold text-white fs-4 mb-8 d-block lh-0">with Kristin Watson</span>
                    <!--end::Description-->
                    <!--begin::Items-->
                    <div class="d-flex align-items-center">
                        <!--begin::Item-->
                        <div class="d-flex align-items-center me-6">
                            <!--begin::Icon-->
                            <a href="#" class="me-2">
                                <i class="bi bi-play-fill text-primary fs-3"></i>
                            </a>
                            <!--end::Icon-->
                            <!--begin::Info-->
                            <span class="fw-semibold text-white fs-6">70,000+ plays</span>
                            <!--end::Info-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center">
                            <!--begin::Icon-->
                            <a href="#" class="me-2">
                                <i class="bi bi-headset text-primary fs-3"></i>
                            </a>
                            <!--end::Icon-->
                            <!--begin::Info-->
                            <span class="fw-semibold text-white fs-6">372 listening now</span>
                            <!--end::Info-->
                        </div>
                        <!--end::Item-->
                    </div>
                    <!--end::Items-->
                </div>
                <!--end::Heading-->
                <!--begin::Action-->
                <div class="mb-xl-10 mb-3">
                    <a href="#" class="btn btn-primary fw-semibold me-2" data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">Listen Now</a>
                    <a href="#" class="btn btn-color-white bg-transparent btn-outline fw-semibold" style="border: 1px solid rgba(255, 255, 255, 0.3)">Save for Later</a>
                </div>
                <!--begin::Action-->
            </div>
            <!--end::Body-->
        </div>
        <!--end::Engage widget 6-->
        <!--end::Col-->
    </div>
    <!--end::Row-->
    <div class="row g-5 g-xl-10 mb-5 mb-xl-10">
        <!--begin::Col-->
        <div class="col-xl-12 col-sm-12">
            <ListWidget></ListWidget>
        </div>
        <!--end::Col-->
    </div>
    <!--end::Row-->
</div>
<!--end::Content container-->