@page "/reset-password"
@layout EmptyLayout

@inject NavigationManager NavManager;

<PageLoader />
<EditForm class="form w-100" id="kt_password_reset_form" Model="@_loginModel" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <div class="text-center mb-10">
        <h1 class="text-dark fw-bolder mb-3">
            Forgot Password ?
        </h1>
        <div class="text-gray-500 fw-semibold fs-6">
            Enter your email to reset your password.
        </div>
    </div>

    <div class="fv-row mb-8">
        <label>Email address</label>
        <input type="email" @bind-value="_loginModel.UserName" class="form-control bg-transparent" placeholder="Enter email">
        <ValidationMessage For="@(()=> _loginModel.UserName)" />
    </div>

    <div class="d-grid mb-10">
        <button type="submit" id="kt_sign_in_submit" class="btn btn-primary">
            <ButtonIndicator ButtonLabel="Submit"></ButtonIndicator>
            <a href="/sign-in" class="link-primary fw-semibold">
                Sign in
            </a>
        </button>
    </div>
</EditForm>

@code {
    readonly LoginModel _loginModel = new();

    private string _spinnerClass = "";
    private async void Submit()
    {

        _spinnerClass = "spinner-border spinner-border-sm";

        if (true)
        {
            NavManager.NavigateTo("/dashboard");
        }
        else
        {

        }

        _spinnerClass = "";
        this.StateHasChanged();
    }
}
