@page "/two-factor"
@layout EmptyLayout

@inject NavigationManager NavManager;

<PageLoader/>
<EditForm class="form w-100 mb-13" id="kt_sing_in_two_factor_form" OnValidSubmit="Submit">
	<div class="text-center mb-10">
		<img alt="Logo" class="mh-125px" src="assets/media/svg/misc/smartphone-2.svg" />
	</div>

	<div class="text-center mb-10">
		<h1 class="text-dark mb-3">Two-Factor Verification</h1>
		<div class="text-muted fw-semibold fs-5 mb-5">Enter the verification code we sent to</div>
		<div class="fw-bold text-dark fs-3">******4742</div>
	</div>

	<div class="mb-10">
		<div class="fw-bold text-start text-dark fs-6 mb-1 ms-1">Type your 6 digit security code</div>
		<div class="d-flex flex-wrap flex-stack">
			<input type="text" name="code_1" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control bg-transparent h-60px w-60px fs-2qx text-center mx-1 my-2" value="" />
			<input type="text" name="code_2" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control bg-transparent h-60px w-60px fs-2qx text-center mx-1 my-2" value="" />
			<input type="text" name="code_3" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control bg-transparent h-60px w-60px fs-2qx text-center mx-1 my-2" value="" />
			<input type="text" name="code_4" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control bg-transparent h-60px w-60px fs-2qx text-center mx-1 my-2" value="" />
			<input type="text" name="code_5" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control bg-transparent h-60px w-60px fs-2qx text-center mx-1 my-2" value="" />
			<input type="text" name="code_6" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control bg-transparent h-60px w-60px fs-2qx text-center mx-1 my-2" value="" />
		</div>
	</div>
	
    <div class="d-grid mb-10">
        <div class="d-flex flex-center">
            <button type="submit" id="kt_sing_in_two_factor_submit" class="btn btn-lg btn-primary fw-bold">
                <ButtonIndicator ButtonLabel="Submit"></ButtonIndicator>
            </button>
        </div>
    </div>

    <div class="text-center fw-semibold fs-5">
	    <span class="text-muted me-1">Didn’t get the code ?</span>
	    <a href="#" class="link-primary fs-5 me-1">Resend</a>
	    <span class="text-muted me-1">or</span>
	    <a href="#" class="link-primary fs-5">Call Us</a>
    </div>

</EditForm>
@code {
    private string _spinnerClass = "";

    private async void Submit()
    {

        _spinnerClass = "spinner-border spinner-border-sm";

        if (true)
        {
            NavManager.NavigateTo("/dashboard");
        }
        else
        {

        }

        _spinnerClass = "";
        this.StateHasChanged();
    }

}